body {
  margin: 0;
  margin-top: 10px;
  font-family: arial, sans-serif;
}
h1, h2, ul {
  padding-left: 20px;
  color: #4682B4;
}
li {
  color: #4682B4;
  text-decoration: none;
  cursor: default;
}
li:hover {
  color: #405567;
}
a {
  text-decoration: none;
}

.navigation {
  width: 100%;
  height: 40px;
  background-color: #efe;
}
.navigation ul {
  margin: 0;
  list-style: none;
}
.navigation li {
  display: inline-block;
  margin: 10px 5px;
  border-right: 1px solid #4682B4;
  padding-right: 10px;
}
.navigation li:last-child {
  margin-right: 0;
  border: none;
}
.image {
  background-color: #a9cbe7;
  border-radius: 5px;
  display: inline-block;
  margin: 20px;
  max-width: 100%;
}
.image:hover {
  background-color: #4682B4;
}
.main {
  position: relative;
  border-radius: 10px;
  padding: 5px;
  width: 300px;
}
.image span {
  display: block;
  padding: 0 5px 5px 5px;
}
.post {
  margin-left: 20px;
  background-color: #efe;
  padding: 2px;
  border: 1px solid #4682B4;
  border-radius: 3px;
}
.heart {
  background-image: 'heart.png';
  width: 10px;
  height: 10px;
}







